@model List<DwaysWeb.Models.Blog>

@using DwaysWeb.Respository.Components
@using Microsoft.AspNetCore.Mvc.Routing

        <div class="row featured__filter pt-5">
            @foreach (var blog in Model)
            {
                <div class="col-lg-3 col-md-4 col-sm-5 ">

                    <div class="featured__item">
                    <a asp-action="Details" asp-controller="Blog" asp-route-id="@blog.BlogId">
                    
                        <div class="featured__item__pic set-bg" data-setbg="@Url.Content("~/img/" + blog.BlogPhoto)">    
                        </div>
                            <div class="featured__item__text">
                        <h6>@blog.BlogName</h6>
                        <p>
                            @blog.BlogDescriptions
                        </p>
                      </div>
                    </a>
                    </div>
                </div>            
            }
        </div>
        

