<style>
    .custom-height {
        height: 700px;
        width:750px;/* Điều chỉnh chiều cao tùy ý */
        object-fit: cover;
    }

    
    .custom-video {
        height: 300px; /* Điều chỉnh chiều cao tùy ý */
    }

    .custom-video video {
        height: 100%;
        width: auto; /* Để giữ tỉ lệ khung hình */
    }

</style>
<div class="container-fluid">
<div class="row">
        <div class="container full-height d-flex justify-content-center align-items-center mt-4">
            <div class="row w-100">
                <div class="col-lg-6 d-flex flex-column justify-content-start align-items-stretch">
                    <div class="row h-100">
                        <div class="col-12 ">
                            <div class="blog__item">
                                <div class="blog__item__pic">
                                    <source src="~/videos1/Ann Wellness Introduction (1).mp4" alt="" class="img-fluid custom-video" type="video/mp4">
                                </div>
                            </div>
                        </div>
                        <div class="col-12 mt-1">
                            <div class="blog__item">
                                <pre>
 Hãy liên hệ ngay với chúng tôi để bắt đầu hành trình 
 kiến tạo cuộc sống tốt đẹp hơn:
    Website: ………..
    Hotline: 032 505 7699
    Email: annwellness126@gmail.com
 Sống trọn vẹn mỗi khoảnh khắc - Bắt đầu ngay hôm nay!
                                </pre>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-4 col-sm-6 d-flex flex-column justify-content-start align-items-stretch h-100">
                    <div class="blog__item">
                        <div class="blog__item__text">
                            <h5><a href="#">Sống trọn vẹn mỗi khoảnh khắc - Bắt đầu hành trình từ hôm nay cùng chúng tôi!</a></h5>
                            <p>
                                Bạn khao khát một cuộc sống khỏe mạnh, tràn đầy năng lượng và hạnh phúc?
                                Ann Wellness Solutions - Nơi chắp cánh ước mơ về một cuộc sống tốt đẹp hơn cho bạn!
                                Hơn 6 năm đồng hành cùng hơn 7 quốc gia, Ann Wellness Solutions tự hào là đối tác chiến lược của Dways International Singapore tại Việt Nam, là cộng đồng chăm sóc sức khỏe toàn diện, hỗ trợ hàng triệu người đạt được mục tiêu sức khỏe và cuộc sống.
                                Tại Ann Wellness Solutions, bạn sẽ được:
                                Trải nghiệm các sản phẩm chất lượng cao được nghiên cứu khoa học, an toàn và hiệu quả, giúp thanh lọc cơ thể, tăng cường miễn dịch, chống lão hóa và cân bằng dinh dưỡng.
                                Kết nối với cộng đồng Dways - Nơi những "người bạn đồng hành" luôn sẵn sàng chia sẻ, hỗ trợ và truyền cảm hứng cho nhau.
                                Tham gia cơ hội kinh doanh hấp dẫn, tự do làm chủ thời gian và thu nhập.
                                Ann Wellness Solutions - Cùng nhau tỏa sáng!
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
    <div class="row">
        <div class="container full-height d-flex justify-content-center align-items-center mt-4">
            <div class="col-lg-8 col-md-4 col-sm-6 d-flex flex-column justify-content-start align-items-stretch h-100">
                <div class="blog__item">
                    <div class="blog__item__text">
                        <h3>Sống trọn vẹn mỗi khoảnh khắc - Bắt đầu hành trình từ hôm nay cùng chúng tôi!</h3>
                        <pre>
<br>Tìm kiếm hạnh phúc đích thực? <br/>
    Hạnh Phúc Trọn Vẹn chính là hành trình dẫn dắt bạn đến với sự cân bằng 
    hoàn hảo giữa thể chất, tinh thần và tương lai rực rỡ. Nơi bạn được thức tỉnh 
    vẻ đẹp tiềm ẩn và tận hưởng trọn vẹn niềm vui sống.
<br>Sức Khỏe Bền Vững - Nền Tảng Vững Chắc<br/>
    Khai phá tiềm năng bản thân với các sản phẩm và chương trình dinh dưỡng, 
    tập luyện được thiết kế riêng theo nhu cầu cá nhân bởi đội ngũ chuyên gia 
    dày dặn kinh nghiệm.
<h4>Sản phẩm cao cấp</h4>: Nghiên cứu và phát triển bởi các nhà khoa học hàng 
    đầu Singapore, ứng dụng công nghệ tiên tiến cùng thành phần quý hiếm, 
    giúp điều hòa bệnh lý gốc tế bào, đảo ngược lão hóa và hỗ trợ bạn đạt 
    được mục tiêu dễ dàng hơn bao giờ hết.
    Trên hành trình chinh phục hạnh phúc, bạn không đơn độc! Cộng đồng 
    Dways International - Nơi những "người bạn đồng hành" luôn sẵn sàng động 
    viên, truyền cảm hứng và tiếp thêm sức mạnh cho bạn.
<br>Hỗ trợ nhiệt tình<br/>: Nhờ sự đồng hành và chia sẻ từ các Thành Viên Dways, 
    bạn sẽ có thêm động lực và niềm tin để tiến bước trên con đường hạnh 
    phúc.
<br>Cơ Hội Kinh Doanh - Tạo Dựng Giá Trị Vững Bền <br/>
    Hơn cả việc sở hữu sức khỏe và hạnh phúc, bạn còn có cơ hội xây dựng sự 
    nghiệp kinh doanh riêng với sự hỗ trợ vững vàng từ Dways.
<br>Thu nhập hấp dẫn<br/>: Tăng thêm thu nhập, đồng thời giúp đỡ những người 
    xung quanh cùng bạn đạt được phiên bản tốt nhất của bản thân.
</pre>
                        <h4><a href="#">Hạnh Phúc Trọn Vẹn - Niềm Vui Vượt Xa Mọi Kỳ Vọng!</a></h4>
                    </div>
                </div>
            </div>
                <div class="col-lg-4 col-md-4 col-sm-6 d-flex flex-column justify-content-start align-items-stretch h-100">
                    <div class="blog__item">
                        <div class="blog__item__text " >
                        <img src="img/6.png" class="custom-height" alt="High resolution image">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <div class="row">
        <div class="col-lg-12 col-md-6 col-sm-6">
            <div class="blog__item">
                <div class="blog__item__text">
                    <h5>Cách Tiếp Cận Cá Nhân - Nâng Tầm Chăm Sóc Sức Khỏe Của Bạn!</h5>
                    <p>
                        Tại Ann Wellness Solutions, chúng tôi mang đến trải nghiệm chăm sóc sức khỏe cá nhân hóa hoàn toàn, giúp bạn đạt được mục tiêu sức khỏe một cách hiệu quả nhất.

                        Sản phẩm Dinh dưỡng Đỉnh Cao:
                        Được nghiên cứu và phát triển dựa trên nền tảng khoa học tiên tiến, mang đến hiệu quả tối ưu cho sức khỏe.Phân phối độc quyền thông qua mạng lưới kinh doanh rộng khắp toàn cầu.

                        Đội ngũ Đại sứ Thương Hiệu Tâm Huyết:
                        Là những doanh nhân thành công với niềm đam mê mãnh liệt về sức khỏe và dinh dưỡng.
                        Sẵn sàng chia sẻ kinh nghiệm và câu chuyện truyền cảm hứng trên hành trình chăm sóc sức khỏe của bản thân.Luôn đồng hành cùng khách hàng, cung cấp thông tin hữu ích và hỗ trợ tận tình.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="blog__item">
                <div class="blog__item__text">
                    
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="blog__item">
                <div class="blog__item__text"> 
                    <p>
                        Hỗ trợ Toàn Diện Từ Dways International:
                        Chương trình đào tạo chuyên sâu về sản phẩm và kỹ năng kinh 
                        doanh. Hướng dẫn chi tiết về việc tiếp cận khách hàng và xây 
                        dựng mối quan hệ bền vững. Cung cấp tài liệu thông tin quan 
                        trọng, cập nhật liên tục. Cộng đồng hỗ trợ mạnh mẽ từ các Thành 
                        Viên trên toàn thế giới.

                        Trải nghiệm Chăm Sóc Sức Khỏe Cá Nhân Hóa:
                        Mỗi Thành Viên sẽ điều chỉnh mối quan hệ với khách hàng theo 
                        nhu cầu riêng biệt. Luôn lắng nghe, thấu hiểu và tôn trọng mong 
                        muốn của khách hàng. Khuyến khích khách hàng đặt ra mục tiêu 
                        lớn và hỗ trợ họ đạt được thành công.
                        Cung cấp động lực và sự khích lệ cần thiết để khách hàng luôn giữ 
                        vững tinh thần.

                        Sự Khác Biệt Của Thành Viên:
                        Chúng tôi không chỉ cung cấp sản phẩm, mà còn mang đến trải 
                        nghiệm chăm sóc sức khỏe toàn diện, cá nhân hóa và hiệu 
                        quả.Mục tiêu của chúng tôi là giúp bạn đạt được mục tiêu sức 
                        khỏe và nâng tầm cuộc sống của bạn.
                    </p>
                </div>
            </div>
        </div>
     </div>
    <div class="row">
        <div class="container full-height d-flex justify-content-center align-items-center mt-4">
            <div class="col-lg-4 col-md-4 col-sm-6 d-flex flex-column justify-content-start align-items-stretch h-100">
                <div class="blog__item">
                    <div class="blog__item__text ">
                        <img src="img/Ann Wellness Introduction (3).png" class="img-fluid full-height-img custom-height" alt="High resolution image">
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-md-4 col-sm-6 d-flex flex-column justify-content-start align-items-stretch h-100">
                <div class="blog__item">
                    <div class="blog__item__text">
                        <h3>Tập Trung 360° - Mở Khóa Sức Khỏe Toàn Diện!</h3>
                        <h3>Tại Ann Wellness Solutions, chúng tôi tin rằng sức khỏe thực sự là sự kết hợp hoàn 
                            hảo giữa thể chất và tinh thần.</h3>
                        <pre>
Niềm Tin Cốt Lõi Của Chúng Tôi:
Đào thải độc tố thường xuyên: Loại bỏ các tác nhân gây hại cho cơ thể, tạo nền tảng 
vững chắc cho sức khỏe.
Chế độ dinh dưỡng cân bằng: Cung cấp đầy đủ dưỡng chất thiết yếu cho cơ thể hoạt 
động hiệu quả.
Lối sống năng động và lành mạnh: Tăng cường sức đề kháng, cải thiện tâm trạng và 
nâng cao chất lượng cuộc sống.
Kế hoạch cá nhân hóa: Phù hợp với nhu cầu và mục tiêu riêng biệt của mỗi cá nhân.

Với cách tiếp cận 360°, bạn sẽ:
Cảm nhận tràn đầy năng lượng: Sức sống dồi dào để tận hưởng cuộc sống trọn vẹn.
Có được cơ thể khỏe mạnh: Tăng cường sức đề kháng, giảm nguy cơ mắc bệnh.
Nâng cao tinh thần: Tăng cường sự tập trung, cải thiện tâm trạng và giảm căng thẳng.
Khám phá tiềm năng bản thân: Đạt được những mục tiêu mà bạn luôn mơ ước.

Ann Wellness Solutions - Đồng Hành Cùng Bạn Trên Hành Trình Sức Khỏe:
Cung cấp các sản phẩm dinh dưỡng cao cấp: Hỗ trợ hiệu quả cho quá trình đào thải 
độc tố, bổ sung dinh dưỡng và tăng cường sức khỏe.
Tư vấn chuyên nghiệp: Hỗ trợ bạn xây dựng kế hoạch cá nhân hóa phù hợp với nhu 
cầu và mục tiêu riêng biệt.
Cộng đồng hỗ trợ mạnh mẽ: Nơi bạn được truyền cảm hứng, chia sẻ kinh nghiệm và 
nhận được sự động viên từ những người cùng chí hướng.
</pre>
                        <h4><a href="#">Hạnh Phúc Trọn Vẹn - Niềm Vui Vượt Xa Mọi Kỳ Vọng!</a></h4>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    <div class="row">
        <div class="container full-height d-flex justify-content-center align-items-center mt-4">
            <div class="col-lg-7 col-md-4 col-sm-6 d-flex flex-column justify-content-start align-items-stretch h-100">
                <div class="blog__item">
                    <div class="blog__item__text">
                        <h3>Giải pháp toàn diện từ thiên nhiên 100%, ứng dụng 7 công nghệ cao và 8 thành tựu đạt giải Nobel giúp bạn nuôi dưỡng cơ thể một cách an toàn và hiệu quả nhất.</h3>
                        <pre>
    Tại Ann Wellness Sotutions, chúng tôi tập trung vào 05 trụ cột then 
    chốt của Giái Pháp toàn diện từ Dways International Singapore:

    1. Đào thải độc tố: Loại bỏ độc tố tích tụ từ bên trong (hormon 
    cortisol do căng thẳng, mệt mỏi) và bên ngoài (nguồn nước, khói bụi
    , thực phẩm, ô nhiễm...), ngăn ngừa các bệnh nguy hiểm.
    2. Chống viêm nhiễm: Bảo vệ cơ thể khỏi tình trạng viêm mãn tính 
    - nguyên nhân hàng đầu dẫn đến lão hóa và suy giảm sức khỏe (tiền 
    mãn kinh, suy giảm chất lượng cuộc sống...).
    3. Đảo ngược lão hóa: Áp dụng công nghệ Gen tế bào tiên tiến tác 
    động trực tiếp 7 Gen trường thọ, giúp kích hoạt gen trội, trẻ hóa ti 
    thể, kéo dài & trẻ hóa telomere, xử lý nhân DNA, trẻ hóa cơ thể từ cấp 
    độ tế bào, mang đến sự trẻ trung và điều trị bệnh tận gốc.
    4. Tăng cường hệ miễn dịch: Nâng cao sức đề kháng, giúp cơ thể 
    chống lại bệnh tật hiệu quả, kháng virus, vi khuẩn, ký sinh trùng....
    5. Dinh dưỡng cân bằng: Cung cấp đầy đủ hơn 300 dưỡng chất thiết 
    yếu cho cơ thể hoạt động khỏe mạnh và trẻ trung, sung mãn.

    Bạn muốn trẻ lại 5-10 tuổi hay hơn nữa? Bạn có muốn tuổi tác chỉ là 
    con số?

    Hãy lựa chọn chúng tôi để trải nghiệm sức khỏe tự nhiên, an toàn và 
    hiệu quả.

    Hãy là người tiêu dùng thông minh để bảo vệ sức khỏe của bạn và gia 
    đình!
                        </pre>
                        <h4><a href="#">Hạnh Phúc Trọn Vẹn - Niềm Vui Vượt Xa Mọi Kỳ Vọng!</a></h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-5 col-sm-6 d-flex flex-column justify-content-start align-items-stretch h-100">
                <div class="blog__item">
                    <div class="blog__item__text ">
                        <img src="img/Ann Wellness Introduction (2).png" class="img-fluid full-height-img custom-height" alt="High resolution image">
                    </div>
                </div>
            </div>
        </div>
    </div>
